### My version of the exercices on the 1st chapter of the book: "Pandas 1.x Cookbook" (Harrison & Petrou).

In [151]:
import os
os.listdir('../input/pandas-cookbook-data')

['data']

In [152]:
import pandas as pd
import numpy as np

### 1 - Reading the dataset and storing it in a DataFrame:

In [153]:
movies = pd.read_csv("../input/pandas-cookbook-data/data/movie.csv")
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

### 2 - Acessing the 3 components of a DataFrame: `index`, `columns` and `data`:

In [154]:
columns = movies.columns # accessing the columns
index = movies.index # accessing the index
data = movies.values # data stores a numpy.ndarray

In [155]:
type(movies)

pandas.core.frame.DataFrame

In [156]:
print(type(columns)) # `columns` is of the `Index` type.
columns

<class 'pandas.core.indexes.base.Index'>

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [157]:
print(type(index)) # `index` is of the `RangeIndex` type
index
# the RangeIndex is similar to the python's built-in range()

<class 'pandas.core.indexes.range.RangeIndex'>

RangeIndex(start=0, stop=4916, step=1)

In [158]:
print(type(data)) # `data` is an numpy.ndarray
data

<class 'numpy.ndarray'>

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

"The index and the columns are closely related. Both of them are subclasses of `Index`. This allows me to perform similar operations on both the `index` and the `columns`":

In [159]:
print(issubclass(pd.RangeIndex, pd.Index))
print(issubclass(columns.__class__, pd.Index))

True
True

In [160]:
index.to_numpy()

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [161]:
columns.to_numpy()

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [162]:
movies.to_numpy()

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

### 3 - Understanding data types:

In [163]:
# The `.dtypes` attribute returns a pandas Series if I need to use the data
print(type(movies.dtypes))
movies.dtypes # shows the column names along with its data type

<class 'pandas.core.series.Series'>

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [164]:
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [165]:
movies.info() # provides more information than the previous ones

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [166]:
type(np.nan) # NaN is float for pandas and NumPy, pandas rely heavily on NumPy...

float

In [167]:
pd.Series(["1",np.nan,"3"]).dtype # 'O' is relative to `object`, if the comlumns has mixed values, its type is `object`

dtype('O')

#### Almost all pandas data types are built from NumPy

### 4 - Selecting a Column:
Selecting a column returns a `Series`:

In [168]:
print(type(movies['director_name']))
movies['director_name']

<class 'pandas.core.series.Series'>

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

... alternative way ...

In [169]:
print(type(movies.director_name))
movies.director_name

<class 'pandas.core.series.Series'>

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

We can also index off the `.loc`(by column name) and `.iloc`(by position) attributes to pull out a `Series`:

In [170]:
movies.loc[0:3, "director_name"] # if I want to get all the rows I should put just `:` (a Colon)

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
Name: director_name, dtype: object

In [171]:
movies.iloc[0:3, 1]

0     James Cameron
1    Gore Verbinski
2        Sam Mendes
Name: director_name, dtype: object

In [172]:
# the RangeIndex is similar to the python's built-in range()
movies["director_name"].index # returns a 'pandas.core.indexes.range.RangeIndex'

RangeIndex(start=0, stop=4916, step=1)

In [173]:
movies["director_name"].dtype # returns a 'numpy.dtype'

dtype('O')

In [174]:
movies["director_name"].size # returns a python `int`

4916

In [175]:
movies["director_name"].name #returns a python `str`

'director_name'

In [176]:
print(type(movies["director_name"].index))
print(type(movies["director_name"].dtype))
print(type(movies["director_name"].size))
print(type(movies["director_name"].name))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'numpy.dtype'>
<class 'int'>
<class 'str'>

We can use the `.apply` method with the type function to get back a `Series` that has the type of every member. Rather than looking at the whole `Series` result, we will chain the `.unique` method onto the result, to look at just the unique types that are found in the `director_name` column:

In [177]:
#apply() is used for applying a function on the values of a Series, or applying a function along the axis of a DataFrame.
print(type(movies["director_name"].apply(type)))
movies["director_name"].apply(type) # this way we are applying the type function along the values of the series...

<class 'pandas.core.series.Series'>

0         <class 'str'>
1         <class 'str'>
2         <class 'str'>
3         <class 'str'>
4         <class 'str'>
             ...
4911      <class 'str'>
4912    <class 'float'>
4913      <class 'str'>
4914      <class 'str'>
4915      <class 'str'>
Name: director_name, Length: 4916, dtype: object

In [178]:
# .unique() Return unique values of Series object.
movies["director_name"].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)